@media  only screen and (max-height: 660px){
  .htumain{
    font-size: 10px !important;
  }
}

.htumain {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 60px); */
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(164, 255, 225); */
  background-color: #ebf3f9;
  padding: 8vh 5vw 8vh 5vw;
  overflow: hidden;
}
.scroll-container {
  position: relative;
  height: 45vh;
  display: flex;
  padding: 4vh 4vw 3vh 4vw;
  background-color: #ebf3f9;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 3.5vw;
  cursor: pointer;
  z-index: 1;
  /* clip-path: circle(); */
  /* background-color: #ebf3f9; */
}

.scroll-button.left {
  left: 0.8vw;
}

.scroll-button.right {
  right: 0.8vw;
}

.instructions {
  display: flex;
  flex-direction: row;
  /* gap: 5vw;
  justify-content: space-around; */
  width: 100%; /* Adjust for the width of both buttons */
  height: 100%;
  /* overflow: hidden; Hide the scrollbar */
  background-color: transparent;
  border-radius: 25px;
  overflow-x: scroll;
  scroll-behavior: smooth; /* Smooth scrolling behavior */
  transition: transform 0.5s ease;
  scrollbar-width: none;
}

.instructions:hover {
  transition: none; /* Disable transition on hover */
}

.i-card {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 100%;
  height: 100%;
  transition: min-width 0s ease; /* Transition opacity changes over 2 seconds */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  /* box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 1); */
  /* From https://css.glass */
  background: rgb(255, 255, 255);
  border-radius: 25px;
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
}
.leftbox {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
}
.leftbox img {
  height: 100%;
  width: 100%;
}
.rightbox {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.vbox {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 40vh;
  gap: 4vw;
}
.video {
  height: 30vh;
  width: 36vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 0 0 0;
}
.orgv {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 30px; */
  text-align: center;
  width: 45vw;
  position: relative;
  overflow: hidden;
  height: 25vh;

}
.guidelines {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* margin: 3em 0; */
  /* margin: 0; */
  position: absolute; /* Add absolute positioning */
  top: 0; /* Start at the top of the container */
  animation: scroll infinite linear 25s; /* Use CSS animation for scrolling */
  scrollbar-width: none;
  text-align: left;
  gap: 1em;
}

@keyframes scroll {
  0% {
    transform: translateY(0); /* Start scrolling from top */
  }
  100% {
    transform: translateY(-100%); /* Scroll up by the height of the content */
  }
}




.guidelines-heading{
  margin: 0.3em 0 0.8em 0;
  font-size: 1.5em;
}
