@media only screen and (max-width: 900px){

    .page_routes{
      display: none;
    }  

    #myCheckbox {
      position: absolute !important;
      display: none !important;
      height: 32px !important;
      width: 32px !important;
      top: 1em !important;
      right: 2em !important;
      z-index: 5 !important;
      opacity: 0 !important;
      cursor: pointer !important;
      z-index: 1001;
    }

    .hamburger-lines {
      display: block !important;
      height: 26px !important;
      width: 32px !important;
      position: absolute !important;
      top: 1em !important;
      /* right: 2em !important; */
      z-index: 1000 !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-between !important;
    }
    
    .hamburger-lines .line {
      display: block !important;
      height: 4px !important;
      width: 100% !important;
      border-radius: 10px !important;
      background: whitesmoke !important;
    }
    
    .hamburger-lines .line1 {
      transform-origin: 0% 0% !important;
      transition: transform 0.4s ease-in-out !important;
    }
    
    .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out !important;
    }
    
    .hamburger-lines .line3 {
      transform-origin: 0% 100% !important;
      transition: transform 0.4s ease-in-out !important;
    }
    
    
    .line1_trns {
      transform: rotate(45deg) !important;
    }
    
    .line2_trns {
      transform: scaleY(0) !important;
    }
    
    .line3_trns {
      transform: rotate(-45deg) !important;
    }
  
    
}

.hamburger-lines{
  display: none ;
}
#checkbox{
  visibility: hidden !important;
}
.all{
  min-height: 100vh;
}

.navbar {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  position: fixed;
  overflow: hidden;
  background-color: rgb(36, 69, 96);
  position: fixed;
  color: whitesmoke;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: auto;

}

.logo__id {
  display: flex;
  align-items: center;
}

.logo__id div {
  padding: 0.1em;
}

.navcontent {
  display: flex;
  flex-direction: column;
  /* gap: 0.1px; */
  /* line-height: 18px; */
  align-items: center;
}

.page_routes ul {
  display: flex;
  align-items: center;

}

.page_routes ul li a {
  text-decoration: none;
  color: whitesmoke;

}
.page_routes ul li a:hover {
  cursor: pointer;
  color: #f72798;
  transition: 0.3s;
}
.page_routes ul li {
  padding: 1em;
  list-style-type: none;
}

.page_routes ul li:hover {
  cursor: pointer;
  color: #ff0000;
  transition: 0.3s;
}







.page_routes_2{
  display: flex;
  flex-direction: column;
  top: 8vh;
  background-color: rgb(36, 69, 96);
  position: fixed;
  z-index: 1000;
  width: 100vw;
}

.page_routes_2 ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_routes_2 ul li{
  width: 100vw;
  border-top: 1px solid whitesmoke;
  padding: 0.5em 0;
}

.home2{
  border: none !important;
}

.page_routes_2 ul li a {
  text-decoration: none;
  color: whitesmoke;

}
.page_routes_2 ul li a:hover {
  cursor: pointer;
  color: #f72798;
  transition: 0.3s;
}
.page_routes_2 ul li {
  /* padding: 1em; */
  list-style-type: none;
  color: whitesmoke;
}

.page_routes_2 ul li:hover {
  cursor: pointer;
  color: #ff0000;
  transition: 0.3s;
}




.pages {
  /* margin-top: 60px; */
  /* flex: 1; */
  background-color: aliceblue;
  min-height: 92vh;
  /* overflow: hidden; */
  /* scrollbar-width: none; */
}



